/*
   CSS Reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@font-face {
    font-family: Raleway;
    src: url(font/raleway_thin-webfont.ttf)
}

body {
    /* set custom font */
    font: normal 7vh Raleway, Arial, sans-serif;
    font-weight: bold;
}

.background {
    /* fill screen */
    width: 100vw;
    height: 100vh;
    /* allow only vertical scrolling */
    overflow-x: hidden;
    overflow-y: auto;
    background: url(img/bg_ice_small.jpg) no-repeat center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    width: 100vw;
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textlayer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slogan {
    width: 60vw;
    height: 15vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 1.0);
}

.slogan > div {
    padding: 0.2em;
}

.arrowhead {
    text-align: center;
    color: rgba(255, 255, 255, 1.0);
}

.personalInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: rgba(255, 255, 255, 1.0);
}

#profilePic {
    width: 3em;
    border-radius: 10%;
}

a:link, a:visited {
    background-color: white;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10%;
}

a:hover, a:active {
    background-color: black;
    color: white;
}

