/*
   CSS Reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@font-face {
    font-family: Raleway;
    src: url(font/raleway_thin-webfont.ttf)
}

body {
    /* set custom font */
    font: normal 7vh Raleway, Arial, sans-serif;
    font-weight: bold;
}

.background {
    /* fill screen */
    width: 100vw;
    height: 100vh;
    /* allow only vertical scrolling */
    overflow-x: hidden;
    overflow-y: auto;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textlayer {
    width: 100vw;
    height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.slogan {
    width: 60vw;
    height: 24vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 1.0);
    text-align: center;
}

.slogan > div {
    padding: 0.2em;
    /* set font color and shadow to transparent to be faded-in with an animation */
    color: rgba(255, 255, 255, 0);
    text-shadow: 0 0 0.3em rgba(0, 0, 0, 0);
    /* fade-in slogan */
    animation-name: slogan-entrance;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes slogan-entrance {
    0%   {transform: translateY(1em);
          color: rgba(255, 255, 255, 0);
          text-shadow: 0 0 0.3em rgba(0, 0, 0, 0);}
    100% {transform: translateY(0);
          color: rgba(255, 255, 255, 1.0);
          text-shadow: 0 0 0.3em rgba(0, 0, 0, 1.0);}
}

.arrowhead {
    margin-top: 7vh;
    text-align: center;
    /* set font color and shadow to transparent to be faded-in with an animation */
    color: rgba(255, 255, 255, 0);
    text-shadow: 0 0 0.3em rgba(0, 0, 0, 0);
    /* light-up arrowhead */
    animation-name: arrow-show;
    animation-delay: 1.5s;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes arrow-show {
    0%   {color: rgba(255, 255, 255, 0);
          text-shadow: 0 0 0.3em rgba(0, 0, 0, 0);}
    100%  {color: rgba(255, 255, 255, 1.0);
           text-shadow: 0 0 0.3em rgba(0, 0, 0, 1.0);}
}

.personalInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 1.0);
}

.personalInfo > div {
    margin: 1vh;
}

#profilePic {
    width: 3em;
    border-radius: 15%;
}

#fullname {
    text-shadow: 0 0 0.3em rgba(0, 0, 0, 1.0);
}

a:link, a:visited {
    background-color: white;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15%;
}

a:hover, a:active {
    background-color: black;
    color: white;
}

