<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='landing/landingPage.css') }}">
    </head>

    <body>
        <style>
            .background {
                background-image: url("{{ bg_url }}");
            }
            @font-face {
                font-family: Raleway;
                src: url("{{ url_for('static', filename='font/raleway_thin-webfont.ttf') }}")
            }
        </style>
        <div id='background' class='background'>
            <div class='wrapper'>
                <div class='textlayer'>

                    <div class='upperBox'>
                        <div class='slogan'>
                            <div>Learn.</div>
                            <div>Connect.</div>
                            <div>Inspire.</div>
                        </div>

                        <div class='arrowhead'>
                            &#8964;
                        </div>
                    </div>

                    <div class='lowerBox'>
                        <div class='personalInfo'>
                            <div>
                                <img src="{{ url_for('static', filename='img/profile_wall.jpg') }}" alt='profilePic' id='profilePic'>
                            </div>
                            <div id='fullname'>
                                <p>Simon B. Gasse</p>
                            </div>
                            <div>
                                <a href='mailto:simon.gasse@ymail.com'>@</a>
                                <a href='https://www.linkedin.com/in/simon-gasse/'>in</a>
                                <a href='https://github.com/sgasse'>&lt;/&gt;</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </body>

</html>